* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  scroll-behavior: smooth;
}

.main-head {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  z-index: 99;
}
.mobileNav {
  display: none;
}
.nav-menu {
  display: none;
  animation: fadein 1s
}

.head-bg {
  background-color: rgb(12, 12, 17);
}

.home-wrapper {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./bg_purple.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  display: grid;
  place-items: center;
}

.wrapper {
	padding: 50px 0px;
  background: url(./bg-secondary.jpeg);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
}

.head a {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: #3770ff;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  font-weight: 600;
  padding: 5px 25px;
  text-align: center;
}

.head a:hover {
  background-color: #2954bf;
}

.nav {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  z-index: 100;
}
.nav ul {
  display: flex;
  list-style: none;
}
.nav li a {
  margin: 20px;
  text-decoration: none;
  color: white;
}

.home-main {
  margin-top: 50px;
  width: 90%;
  height: 500px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  background-color: rgba(0, 0, 0, 0.603);
}

.home-main h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 80px;
}

.home-main p {
  color: rgba(149, 4, 217, 1);
  margin: 30px 0px;
  font-size: 1.5rem;
}

.home-main a {
  background-color: rgba(43, 45, 66, 1);
  color: white;
  padding: 10px 30px;
  font-weight: bold;
  font-size: 25px;
}

/* About */
.about {
  text-align: center;
  font-weight: bold;
  width: 100%;
}
.info {
  width: 100%;
  background-color: black;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 20px;
}

.info p {
  color: rgba(149, 4, 217, 1);
  font-size: 1.5rem;
}
.info span {
  background-color: rgba(43, 45, 66, 1);
  color: white;
  padding: 5px;
  margin-right: 10px;
}

.hvr {
  padding: 10%;
}

.hvr:hover {
  background-color: rgba(250, 250, 250, 0.1);
  transition-duration: 0.4s;
}

.domain{
	min-width: 300px;
	height: 100px;
	border: 2px solid white;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px;
	padding: 20px;
}

.domain i {
	margin-right: 10px;
	font-size: 30px;
}

.domain span{
	font-size: 20px;
	background-color: transparent;
}

.domain-wrap{
	border-radius: 20px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 70%;
}

.sponsor-list
{
  margin-bottom: 30px;
}

.sponsor-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sponsor-list img{
  width: 20%;
  margin: 20px;
  margin-right: 40px;
  margin-top: 30px;
}

.sponsor-wrap .gold{
  font-size: 2rem;
  width: fit-content;
  padding: 20px 40px;

  color: rgba(0, 0, 0, 0.72);
  text-decoration: none;
  font-weight: bold;
  text-shadow: 1px 1px 0 #ffffff;
  box-shadow:
    2px 2px 0.5em rgba(122, 98, 0, 0.55),
    inset 1px 1px 0 rgba(255, 255, 255, 0.9),
    inset -1px -1px 0 rgba(0, 0, 0, 0.34)
  ;
  border: 1px solid #deca73;
  background:
    -moz-linear-gradient(
    -72deg,
    #ffde45,
    #ffffff 16%,
    #ffde45 21%,
    #ffffff 24%,
    #452100 27%,
    #ffde45 36%,
    #ffffff 45%,
    #ffffff 60%,
    #ffde45 72%,
    #ffffff 80%,
    #ffde45 84%,
    #452100
  );
  background:
  -webkit-linear-gradient(
    -72deg,
    #ffde45,
    #ffffff 16%,
    #ffde45 21%,
    #ffffff 24%,
    #452100 27%,
    #ffde45 36%,
    #ffffff 45%,
    #ffffff 60%,
    #ffde45 72%,
    #ffffff 80%,
    #ffde45 84%,
    #452100
  );
  background:
  -o-linear-gradient(
    -72deg,
    #ffde45,
    #ffffff 16%,
    #ffde45 21%,
    #ffffff 24%,
    #452100 27%,
    #ffde45 36%,
    #ffffff 45%,
    #ffffff 60%,
    #ffde45 72%,
    #ffffff 80%,
    #ffde45 84%,
    #452100
  );
  background:
  linear-gradient(
    -72deg,
    #ffde45,
    #ffffff 16%,
    #ffde45 21%,
    #ffffff 24%,
    #452100 27%,
    #ffde45 36%,
    #ffffff 45%,
    #ffffff 60%,
    #ffde45 72%,
    #ffffff 80%,
    #ffde45 84%,
    #452100
  );
}

.sponsor-wrap .platinum{
  font-size: 2rem;
  width: fit-content;
  padding: 20px 40px;

  color: rgba(0, 0, 0, 0.72);
  text-decoration: none;
  font-weight: bold;
  text-shadow: 1px 1px 0 #ffffff;
  box-shadow:
    2px 2px 0.5em rgba(122, 122, 122, 0.55),
    inset 1px 1px 0 rgba(255, 255, 255, 0.9),
    inset -1px -1px 0 rgba(0, 0, 0, 0.5)
  ;
  border: 1px solid #cacade;
  background:
    -moz-linear-gradient(
    -72deg,
    #dedeff,
    #ffffff 16%,
    #dedeff 21%,
    #ffffff 24%,
    #555564 27%,
    #dedeff 36%,
    #ffffff 45%,
    #ffffff 60%,
    #dedeff 72%,
    #ffffff 80%,
    #dedeff 84%,
    #555564
  );
  background:
  -webkit-linear-gradient(
    -72deg,
    #dedeff,
    #ffffff 16%,
    #dedeff 21%,
    #ffffff 24%,
    #555564 27%,
    #dedeff 36%,
    #ffffff 45%,
    #ffffff 60%,
    #dedeff 72%,
    #ffffff 80%,
    #dedeff 84%,
    #555564
  );
  background:
  -o-linear-gradient(
    -72deg,
    #dedeff,
    #ffffff 16%,
    #dedeff 21%,
    #ffffff 24%,
    #555564 27%,
    #dedeff 36%,
    #ffffff 45%,
    #ffffff 60%,
    #dedeff 72%,
    #ffffff 80%,
    #dedeff 84%,
    #555564
  );
  background:
  linear-gradient(
    -72deg,
    #dedeff,
    #ffffff 16%,
    #dedeff 21%,
    #ffffff 24%,
    #555564 27%,
    #dedeff 36%,
    #ffffff 45%,
    #ffffff 60%,
    #dedeff 72%,
    #ffffff 80%,
    #dedeff 84%,
    #555564
  );

}


/* Footer  */

.foot-logo {
    max-width: 100%;
    height: auto;
}
        section {
            padding: 30px 0;
           /* min-height: 100vh;*/
        }
 .contact-social ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
.contact-area {
    border-bottom: 1px solid #353C46;
}

.contact-content p {
    font-size: 15px;
    margin: 30px 0 60px;
    position: relative;
}

.contact-content p::after {
    background: #353C46;
    bottom: -30px;
    content: "";
    height: 1px;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    width: 80%;
}

.contact-content h6 {
    color: #8b9199;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
}

.contact-content span {
    color: #353c47;
    margin: 0 10px;
}

.contact-social {
    margin-top: 30px;
}

.contact-social > ul {
    display: inline-flex;
}

.contact-social ul li a {
    border: 1px solid #8b9199;
    color: #8b9199;
    display: inline-block;
    height: 40px;
    margin: 0 10px;
    padding-top: 7px;
    transition: all 0.4s ease 0s;
    width: 40px;
}

.contact-social ul li a:hover {
    border: 1px solid #FAB702;
    color: #FAB702;
}

.contact-content img {
    max-width: 210px;
}

section, footer {
    background: black;
    color: #868c96;
}

footer p {
    padding: 40px 0;
	margin: 0px;
    text-align: center;
}

footer img {
    width: 44px;
}

.schedule-card{
	background-color: rgba(43, 45, 66, 0.609);
	padding: 20px;
	font-weight: bolder;
	width: 75%;
	margin: 20px auto;
	color: rgba(149, 4, 217, 1);
	border-radius: 30px;
}
/* .schedule-card ul{
	margin: 30px auto;
	width: fit-content;
	text-align: start;
	font-weight: lighter;
}
.schedule-card ul li {
  background-color: rgba(43, 45, 66, 0.609);
	padding: 20px;
	font-size: 1.5rem;
	margin: 0px 0px;
	color: rgba(255, 255, 255, 0.65);
} */

.schedule-card-element {
	background-color: rgba(43, 45, 66, 0.609);
	padding: 15px;
	font-weight: bolder;
	width: 50%;
  margin: 20px auto;
	color: rgba(149, 4, 217, 1);
	border-radius: 30px;
  border: 1px solid rgba(255,255,255,0.2);
  text-align:auto;
}



@media screen and (max-width: 768px) {
  .main-head {
    display: none;
  }
  .mob-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 60px;
    padding: 0px 10px;
  }
  .mob-head img {
    width: 35px;
  }
  .mob-head button {
    background-color: transparent;
    border: none;
  }
  .mobileNav {
    width: 100%;
    display: flex;
    position: absolute;
	z-index: 101;
    top: 0;
    color: white;
    left: 0;
  }
  .home-main{
    width: 100% !important;
	height: 400px;
  }

  .home-main h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
  }
  .home-main p {
    font-size: 20px;
  }

  .info p {
    font-size: 1.3rem;
  }
  .nav-menu {
    position: absolute;
    right: 0;
    top: 60px;
    width: 75%;
    height: 75vh;
    background-color: rgb(12, 12, 17);
    color: white;
    position: fixed;
    transition: all 1s ease-out;
	z-index: 101;
  }
  .nav-menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
  }
  .nav-menu ul li a {
    text-decoration: none;
    color: white;
  }
  .about{
	  margin-top: 150px;
  }
  .gold,.platinum{
    width: 100% !important;
  }
  .sponsor-list img{
    width: 50%;
  }
  .wrapper {
	padding: 0px;
  }
  .mob-devfolio{
	width: fit-content;
	font-size: 0.9rem !important;
  }
  .schedule-card{
	  width: 100%;
	  border-radius: 0px;
  }
  .schedule-card h1{
	font-size: 1.3rem;
}
/* .schedule-card ul li {
	font-size: 1rem;
} */

.schedule-card-element {
  width: 90%;
  text-align:none;
} 

}


.spinner {
	margin: 0px auto 0;
	padding-bottom: 50px;
	width: 70px;
	text-align: center;
	display: flex !important;
  }
  
  .spinner > div {
	width: 18px;
	height: 18px;
	background-color: #333;
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0) }
	40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
	0%, 80%, 100% { 
	  -webkit-transform: scale(0);
	  transform: scale(0);
	} 40% { 
	  -webkit-transform: scale(1.0);
	  transform: scale(1.0);
	}
  }

  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

  .block{
	height:50px;
	margin-top: 20px;
  }

  @media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){

  html,
  body{
    width:100%;
    overflow-x:hidden;
  }

}