*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto Mono', monospace;
	scroll-behavior: smooth;
}

.main-head{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	color: white;
}
.mobileNav{
	display: none;
}
.nav-menu{
	display: none;
}
.head-bg{
	background-color: rgb(12, 12, 17);
}

.home-wrapper{
	height: 100vh;
	width: 100%;
	background: linear-gradient(rgba(0, 0, 0, 0.3),
	rgba(0, 0, 0, 0.3)), url(./bg_purple.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: white;
	display: grid;
	place-items: center;
}

.wrapper{
	background: url(./bg-secondary.jpeg);
	height: 100vh;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.head{
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 10px;
	border-bottom: 2px solid white ;
}


.head a{
		-ms-flex-align: center;
		-webkit-box-align: center;
		align-items: center;
		background-color: #3770FF;
		border-radius: 10px;
		border: none;
		color: #FFFFFF;
		cursor: pointer;
		display: -ms-flexbox;
		display: -webkit-box;
		display: flex;
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
		font-size: 18px;
		font-weight: 600;
		padding: 5px 25px;
		text-align: center;
}

.head a:hover{
	background-color: #2954BF;
}

.nav{
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}
.nav ul{
	display: flex;
	list-style: none;
}
.nav li a{
	margin: 20px;
	text-decoration: none;
	color: white;
}

.home-main{
	width: 90%;
	height: 500px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	background-color: rgba(0, 0, 0, 0.603);
}

.home-main h1{
	font-family: 'Montserrat', sans-serif;
	font-size: 80px;
}

.home-main p{
	color: rgba(149, 4, 217, 1);
	margin: 30px 0px;
	font-size: 1.5rem;
}

.home-main a{
	background-color: rgba(43, 45, 66, 1);
	color: white;
	padding: 10px 30px;
	font-weight: bold;
	font-size: 25px;
}


/* About */
.about{
	text-align: center;
	font-weight: bold;
	width: 100%;
}
.info{
	width: 100%;
	background-color: black;
	padding-top: 50px;
	margin-top: 20px;
}

.info p{
	color: rgba(149, 4, 217, 1);
	font-size: 1.5rem;
}
.info span{
	background-color: rgba(43, 45, 66, 1);
	color: white;
	padding: 5px;
	margin-right: 10px;
}

.hvr{
	padding: 10%;
}

.hvr:hover{
	background-color:rgba(250, 250, 250, 0.1);
	transition-duration: 0.4s;
}

@media screen and (max-width: 768px){
	.main-head{
		display: none;
		background-color: red;
	}
	.mob-head{
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: fixed;
		width: 100%;
		height: 60px;
		padding: 0px 10px;
	}
	.mob-head img{
		width: 35px;
	}
	.mob-head button{
		background-color: transparent;
		border: none;
	}
	.mobileNav{
		width: 100%;
		display: flex;
		position: absolute;
		top: 0;
		color: white;
		left: 0;
	}
	.home-main{
		width: 100%;
	}
	
.home-main h1{
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
}
	.home-main p{
	font-size: 20px;
	}

	.info p{
		font-size: 1.3rem;
	}
	.nav-menu{
		position: absolute;
		right: 0;
		top: 60px;
		width: 75%;
		height: 75vh;
		background-color: rgb(12, 12, 17);
		color: white;
		position: fixed;
		transition: all 1s ease-out;
	}
	.nav-menu ul{
		list-style: none;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-top: 20px;
	}
	.nav-menu ul li a{
		text-decoration: none;
		color: white;
	}  
}
